<section class="flex sm:items-center sm:justify-center">
  <div class="stats stats-vertical sm:stats-horizontal shadow mx-5">
    <div class="stat sm:place-items-center">
      <div class="stat-title">Población</div>
      <div class="stat-value">{{ country().population | number }}</div>
      <div class="stat-desc">Desde {{ currentYear() }}</div>
    </div>

    <div class="stat sm:place-items-center">
      <div class="stat-title">Nombre</div>
      <div class="stat-value text-secondary">{{ country().name }}</div>
      <div class="stat-desc text-secondary">{{ country().region }}</div>
    </div>

    <div class="stat sm:place-items-center">
      <div class="stat-title">Sub Region</div>
      <div class="stat-value">{{ country().subRegion }}</div>
      <div class="stat-desc">{{ country().region }}</div>
    </div>
  </div>
</section>

<section class="mx-auto my-5 flex flex-col sm:flex-row items-center justify-center">
  
  <svg
    class="h-80 w-80 sm:h-115 sm:w-115"
    xmlns="http://www.w3.org/2000/svg"
    
    viewBox="0 0 20 20"
  >
    <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
      <path
        d="M5 9a2 2 0 1 0 0-4a2 2 0 0 0 0 4m0 1a3 3 0 1 0 0-6a3 3 0 0 0 0 6"
      />
      <path
        d="M3.854 8.896a.5.5 0 0 1 0 .708l-.338.337A3.47 3.47 0 0 0 2.5 12.394v1.856a.5.5 0 1 1-1 0v-1.856a4.47 4.47 0 0 1 1.309-3.16l.337-.338a.5.5 0 0 1 .708 0m11.792-.3a.5.5 0 0 0 0 .708l.338.337A3.47 3.47 0 0 1 17 12.094v2.156a.5.5 0 0 0 1 0v-2.156a4.47 4.47 0 0 0-1.309-3.16l-.337-.338a.5.5 0 0 0-.708 0"
      />
      <path
        d="M14 9a2 2 0 1 1 0-4a2 2 0 0 1 0 4m0 1a3 3 0 1 1 0-6a3 3 0 0 1 0 6m-4.5 3.25a2.5 2.5 0 0 0-2.5 2.5v1.3a.5.5 0 0 1-1 0v-1.3a3.5 3.5 0 0 1 7 0v1.3a.5.5 0 1 1-1 0v-1.3a2.5 2.5 0 0 0-2.5-2.5"
      />
      <path
        d="M9.5 11.75a2 2 0 1 0 0-4a2 2 0 0 0 0 4m0 1a3 3 0 1 0 0-6a3 3 0 0 0 0 6"
      />
    </g>
  </svg>

  <figure class="diff aspect-video h-60 sm:h-100 w-auto sm:w-150 mx-2 mb-4" tabindex="0">
    <div class="diff-item-1" role="img" tabindex="0">
      <img
        class="blur brightness-75"
        [alt]="country().name"
        [src]="country().flagSvg"
      />
    </div>
    <div class="diff-item-2" role="img">
      <img [alt]="country().name" [src]="country().flagSvg" />
    </div>
    <div class="diff-resizer"></div>
  </figure>

  <google-map-viewer [location]="country().name"/>

</section>
